
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul{
    display: flex;
    justify-content: space-between;
    gap:300px;
    margin-top: 20px;
}
nav ul li{
    text-decoration: none;
    display: inline;
}
.container{
    display: grid;
    grid-template-columns: 218px 1222px ;
    grid-template-rows: 1fr;
    
}

.sidebar ul li {
    padding: 10px;

}

.container-2{
    display: grid;
    grid-template-columns: repeat(3 , 380px) ;
    grid-template-rows: auto;
    background-color: rgba(128, 128, 128, 0.075);
    width: 1200px;
    column-gap: -10px;
}